# This is a basic workflow to help you get started with Actions

name: CI Production

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.1

      - name: Install node dependencies
        run: npm i

      - name: Linting
        run: npm run lint

      - name: Set env
        run:
          echo "VUE_APP_USERNAME=${{secrets.USER_NAME}}" >> $GITHUB_ENV
          echo "VUE_APP_PASSWORD=${{secrets.PASSWORD}}" >> $GITHUB_ENV
          echo "VUE_APP_API_URL=${{secrets.URL}}" >> $GITHUB_ENV
          echo "VUE_APP_GOOGLE_MAPS_KEY=${{secrets.MAPS_KEY}}" >> $GITHUB_ENV
        env: 
          USER_NAME: ${{ secrets.APP_USER }}
          PASSWORD: ${{ secrets.APP_PASS }}
          URL: ${{ secrets.APP_URL }}
          MAPS_KEY:  ${{ secrets.MAPS_KEY }}

      - name: Build
        run: npm run build

      - name: Save dist folder
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

      - name: Deploy to Production server
        uses: easingthemes/ssh-deploy@v2.1.4
        env:
          SSH_PRIVATE_KEY: ${{ secrets.TO_IT_ALL }}
          ARGS: "-rltgoDzvO"
          SOURCE: "dist/"
          REMOTE_HOST: ${{ secrets.REMOTE_URL }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
