#app {
    background-color: #f1f2f4;
    background-image: url("./../assets/img/body_bg.jpg"), url("./../assets/img/body_repeater.jpg");
    background-repeat: repeat-x, repeat;
    background-position: top, top;
}

.clickable {
    cursor: pointer;
}